[VERSION]
major = 1
minor = 0

[WEIGHT_AND_BALANCE]
max_gross_weight = 7394 ; Empty weight, (LBS)
empty_weight = 4629 ; Empty weight, (LBS)
reference_datum_position = 16.2, 0, 0 ; Position of reference datum relative to FS(0,0,0) (FEET), z, x, y
empty_weight_CG_position = -16, 0, 0.5 ; Position of airplane empty weight CG relative to reference datum (FEET), z, x, y
CG_forward_limit = 0.14 ; Gravity center forward limit in %MAC (divided by 100: 0.14 = 14%MAC)
CG_aft_limit = 0.355 ; Gravity center aft limit in %MAC (divided by 100: 0.355 = 35.5%MAC)
empty_weight_pitch_MOI = 11491 ; Empty pitch moment of inertia, Jxx (SLUG SQ FEET)
empty_weight_roll_MOI = 5924 ; Empty roll moment of inertia, Jzz (SLUG SQ FEET)
empty_weight_yaw_MOI = 16098 ; Empty yaw moment of inertia, Jyy (SLUG SQ FEET)
empty_weight_coupled_MOI = 100 ; Empty transverse moment of inertia, Jyz (SLUG SQ FEET)
activate_mach_limit_based_on_cg = 0 ; Activate mach limitation depending on CG position (true if > 0 /false othewise). Mostly for Concorde).
activate_cg_limit_based_on_mach = 0 ; Activate cg limitation depending on mach value (true if > 0 /false othewise). Mostly for Concorde).
max_number_of_stations = 8 ; Number of payload stations
station_load.0 = 170, -15.2, -1.5, 1.5, TT:MENU.PAYLOAD.PILOT, 1
station_load.1 = 170, -15.2, 1.5, 1.5, TT:MENU.PAYLOAD.COPILOT, 2
station_load.2 = 0, -19, -1.5, 1.5, TT:MENU.PAYLOAD.FRONT_PAX_LEFT, 4
station_load.3 = 0, -19, 1.5, 1.5, TT:MENU.PAYLOAD.FRONT_PAX_RIGHT, 4
station_load.4 = 0, -23, -1.5, 1.5, TT:MENU.PAYLOAD.REAR_PAX_LEFT, 5
station_load.5 = 0, -23, 1.5, 1.5, TT:MENU.PAYLOAD.REAR_PAX_RIGHT, 5
station_load.6 = 0, -25, 0, 1.5, TT:MENU.PAYLOAD.REAR_BAGGAGE, 6
station_load.7 = 0, -11.3, -1.5, 0.6, TT:MENU.PAYLOAD.FORWARD_BAGGAGE, 6

[CONTACT_POINTS]
static_pitch = -0.8 ; degrees, pitch when at rest on the ground (+=Up, -=Dn)
static_cg_height = 3.94 ; feet, altitude of CG when at rest on the ground
gear_system_type = 0 ; gear system type (betweeen 0 and 4) 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none, 5 = undefined
tailwheel_lock = 0 ; Is tailwheel lock available TRUE/FALSE
max_number_of_points = 10 ; Number of contact points
gear_locked_on_ground = 1 ; Defines whether or not the landing gear handle is locked to down when the plane is on the ground.
gear_locked_above_speed = -1 ; Defines the speed at which the landing gear handle becomes locked in the up position. (-1 = Disabled)
max_speed_full_steering = 10 ; Defines the speed under which the full angle of steering is available (in feet/second).
max_speed_decreasing_steering = 20 ; Defines the speed above which the angle of steering stops decreasing (in feet/second).
min_available_steering_angle_pct = 0.2 ; Defines the percentage of steering which will always be available even above max_speed_decreasing_steering (in percent over 100).
max_speed_full_steering_castering = 20 ; Defines the speed under which the full angle of steering is available for free castering wheels (in feet/second).
max_speed_decreasing_steering_castering = 40 ; Defines the speed above which the angle of steering stops decreasing for free castering wheels  (in feet/second).
min_castering_angle = 0.05236 ; Defines the minimum angle a free castering wheel can take (in radians).
max_castering_angle = 3.14159265358979 ; Defines the maximum angle a free castering wheel can take (in radians).
point.0 = 1, -7.5, 0, -4.14, 720, 0, 0.52, 60, 0.327, 1.5, 0.9, 13, 13, 0, 0, 0, 4
point.1 = 1, -17.5, -6.4, -4.2, 1500, 1, 0.78, 0, 0.246, 2, 0.3, 13, 13, 2, 0, 0, 4
point.2 = 1, -17.5, 6.4, -4.2, 1500, 2, 0.78, 0, 0.246, 2, 0.3, 13, 13, 3, 0, 0, 4
point.3 = 2, -17.4, -20.5, 0.8, 300, 0, 0, 0, 0, 0, 0, 0, 0, 5, 0, 0
point.4 = 2, -17.4, 20.5, 0.8, 300, 0, 0, 0, 0, 0, 0, 0, 0, 6, 0, 0
point.5 = 2, -30.6, 0, 0.2, 720, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.6 = 17, -2.5, 0, -2.5, 300, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.7 = 2, -36, 0, 10, 300, 0, 0, 0, 0, 0, 0, 0, 0, 7, 0, 0
point.8 = 2, -21, 0, -1.6, 300, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0
point.9 = 2, -9, 0, -1.6, 300, 0, 0, 0, 0, 0, 0, 0, 0, 4, 0, 0

[FUEL]
LeftMain = -16.5, -6, 0, 146, 4.5 ; For each tank: Tank position (z longitudinal, x lateral, y vertical) (FEET), total fuel capacity (GALLONS), unusable fuel capacity (GALLONS)
RightMain = -16.5, 6, 0, 146, 4.5
Center1 = 0, 0, 0, 0, 0
Center2 = 0, 0, 0, 0, 0
Center3 = 0, 0, 0, 0, 0
LeftAux = 0, 0, 0, 0, 0
LeftTip = 0, 0, 0, 0, 0
RightAux = 0, 0, 0, 0, 0
RightTip = 0, 0, 0, 0, 0
External1 = 0, 0, 0, 0, 0
External2 = 0, 0, 0, 0, 0
fuel_tank_priority = LeftMain-RightMain
fuel_type = 2 ; 1 = OCTANE 100, 2 = JET_A, 3 = OCTANE 80, 4 = AUTO GAS, 5 = JET B
number_of_tank_selectors = 1 ; Max 4
electric_pump = 1
engine_driven_pump = 1
manual_transfer_pump = 0
manual_pump = 0
anemometer_pump = 0
fuel_dump_rate = 0.02
default_fuel_tank_selector.1 = 2 ; Default fuel selector used in case of autostart for engine 1, default is ALL.
default_fuel_tank_selector.2 = 2 ; Default fuel selector used in case of autostart for engine 2, default is ALL.
default_fuel_tank_selector.3 = 2 ; Default fuel selector used in case of autostart for engine 3, default is ALL.
default_fuel_tank_selector.4 = 2 ; Default fuel selector used in case of autostart for engine 4, default is ALL.

[AIRPLANE_GEOMETRY]
wing_area = 193.75 ; Wing area S (SQUARE FEET)
wing_span = 39.89 ; Wing span b (FEET)
wing_root_chord = 6.5 ; Wing root chord croot (FEET)
wing_camber = 1 ; (DEGREES)
wing_thickness_ratio = 0.05 ; Local thickness is local_chord(x)*wing_thickness_ratio, x = lateral coord
wing_dihedral = 6.5 ; Dihedral angle Lambda (DEGREES)
wing_incidence = 2 ; Wing incidence (DEGREES)
wing_twist = 0 ; Wing twist epsilon (DEGREES)
oswald_efficiency_factor = 0.731 ; Wing Oswald efficiency factor e (non dimensional)
wing_winglets_flag = 0 ; Has winglets true/false
wing_sweep = 1.7 ; Wing sweep (DEGREES)
wing_pos_apex_lon = -14.41833 ; Longitudinal (z) position of wing apex w.r.t reference datum (FEET)
wing_pos_apex_vert = -1.2 ; Vertical (y) position of wing apex w.r.t reference datum (FEET)
htail_area = 31 ; Horizontal tail area (SQUARE FEET)
htail_span = 16 ; Horizontal tail span (FEET)
htail_pos_lon = -35.25 ; Longitudinal (z) position of horizontal tail  w.r.t reference datum (FEET)
htail_pos_vert = 3.5 ; Vertical (y) position of horizontal tail  w.r.t reference datum (FEET)
htail_incidence = 1 ; Horizontal tail incidence (DEGREES)
htail_sweep = 2.26 ; Horizontal tail sweep angle (DEGREES)
htail_thickness_ratio = 0.02 ; Local thickness is local_chord(x)*htail_thickness_ratio, x = lateral coord
vtail_area = 37.4 ; Vertical tail area (SQUARE FEET)
vtail_span = 7 ; Vertical tail span (FEET)
vtail_sweep = 45 ; Vertical tail sweep angle (DEGREES)
vtail_pos_lon = -31 ; Longitudinal (z) position of vertical tail  w.r.t reference datum (FEET)
vtail_pos_vert = 5.8 ; Vertical (y) position of vertical tail  w.r.t reference datum (FEET)
vtail_thickness_ratio = 0.02 ; Local thickness is local_chord(x)*vtail_thickness_ratio, x = lateral coord
fuselage_length = -1 ; Nose to tail (FEET)
fuselage_diameter = 5.7
fuselage_center_pos = -16, 0, 1.0
elevator_area = 21.5 ; Elevator area (SQUARE FEET)
aileron_area = 10.2 ; Elevator area (SQUARE FEET)
rudder_area = 25.6 ; Elevator area (SQUARE FEET)
elevator_up_limit = 16 ; Elevator max deflection up angle (DEGREES)
elevator_down_limit = 16 ; Elevator max deflection down angle (absolute value) (DEGREES)
aileron_up_limit = 15 ; Aileron max deflection  angle (DEGREES)
aileron_down_limit = 15 ; Aileron max deflection down angle (absolute value) (DEGREES)
rudder_limit = 25 ; Rudder max deflection angle (absolute value) (DEGREES)
rudder_trim_limit = 25 ; Rudder trim max deflection angle (absolute value) (DEGREES)
elevator_trim_limit = 16 ; Elevator trim max angle (absolute value) (DEGREES)
spoiler_limit = 58 ; Spoiler max deflection angle (absolute value) (DEGREES)
spoilerons_available = 1 ; Aircraft has spoilerons true/false
aileron_to_spoileron_gain = 3 ; Aileron influence on spoileron angle (non-dimensional)
min_ailerons_for_spoilerons = 0 ; Minimum aileron deflection (absolute value) in which spoilerons are active (DEGREES)
min_flaps_for_spoilerons = 0 ; Minimum flaps deflection (absolute value) in which spoilerons are active (DEGREES)
spoiler_extension_time = 0.2 ; Spoilers extension time (SECONDS)
spoiler_handle_available = 1 ; Spoiler handles available true/false
auto_spoiler_available = 0 ; Auto spoilers available true/false
auto_spoiler_min_speed = 0 ; Auto spoilers minimum trigger speed
positive_g_limit_flaps_up = 2.53333 ; Flap positive load limit when up. Same dimension as gravity vector FEET/SECONDS^2
positive_g_limit_flaps_down = 1.77333 ; Flap positive load limit when down. Same dimension as gravity vector FEET/SECONDS^2
negative_g_limit_flaps_up = -2.02667 ; Flap negative load limit when up. Same dimension as gravity vector FEET/SECONDS^2
negative_g_limit_flaps_down = -1.52 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2
load_safety_factor = 1.5 ; Flap negative load limit when down. Same dimension as gravity vector FEET/SECONDS^2
elevator_trim_neutral = 2 ; Elevator trim max angle (absolute value) (DEGREES), for indicators only (no influence on flight model)
aileron_to_rudder_scale = 0 ; non-dimensional
flap_to_aileron_scale = 0 ; non-dimensional
fly_by_wire = 0 ; Fly-by-wire available true/false
elevator_elasticity_table = 0:1, 40:1, 80:0.9, 200:0.25
aileron_elasticity_table = 0:1, 40:1, 80:0.9, 200:0.25
rudder_elasticity_table = 0:1, 40:1, 80:0.9, 200:0.25
elevator_trim_elasticity_table = 0:1, 40:1, 80:0.9, 200:0.25

[AERODYNAMICS]
lift_coef_pitch_rate = -23.96515
lift_coef_daoa = 0.0
lift_coef_delta_elevator = -1.04446
lift_coef_horizontal_incidence = 0.0
lift_coef_flaps = 0.51605 ; (def) 1.03210 :: Hotfix for 1.13.16.0
lift_coef_spoilers = 0.00000
drag_coef_zero_lift = 0.02550
drag_coef_flaps = 0.18440
drag_coef_gear = 0.04700
drag_coef_spoilers = 0.00000
side_force_slip_angle = -4.13991
side_force_roll_rate = 0.76199
side_force_yaw_rate = 4.63269
side_force_delta_rudder = -4.13293
pitch_moment_horizontal_incidence = 0.0
pitch_moment_delta_elevator = -5.70129
pitch_moment_delta_trim = -5.70129
pitch_moment_pitch_damping = -370.71570
pitch_moment_aoa_0 = -0.07587
pitch_moment_daoa = 0.0
pitch_moment_flaps = -0.01528
pitch_moment_gear = 0.00789
pitch_moment_spoilers = 0.00000
pitch_moment_delta_elevator_propwash = -1.42532
pitch_moment_pitch_propwash = 0.0
roll_moment_slip_angle = 0.51146
roll_moment_roll_damping = -2.31672
roll_moment_yaw_rate = -0.58884
roll_moment_spoilers = 0.0
roll_moment_delta_aileron = -0.26214
roll_moment_delta_rudder = 0.44626
roll_moment_delta_aileron_trim_scalar = -0.26214
yaw_moment_slip_angle = 1.57336
yaw_moment_roll = 0.20340
yaw_moment_yaw_damping = -8.50749
yaw_moment_yaw_propwash = 0.0
yaw_moment_delta_aileron = 0.00004
yaw_moment_delta_rudder = 1.35701
yaw_moment_delta_rudder_propwash = 0.33925
yaw_moment_delta_rudder_trim_scalar = 1.35701
compute_aero_center = 0
aero_center_lift = -0.10000
lift_coef_aoa_table = -3.15:0, -0.8:-1.150, -0.4:-0.823, -0.2:-1.222, -0.1:-0.643, 0:0.168, 0.20:1.517, 0.23:1.637, 0.26:1.320, 0.29:1.063, 0.31:0.903, 0.4:0.794, 0.8:1.152, 3.15:0
lift_coef_ground_effect_mach_table = 0.054:1.25
lift_coef_mach_table = 0:1
lift_coef_delta_elevator_mach_table = 0:0
lift_coef_daoa_mach_table = 0:0
lift_coef_pitch_rate_mach_table = 0:0
lift_coef_horizontal_incidence_mach_table = 0:0
drag_coef_zero_lift_mach_tab = 0:0.000, 0.5:0.000, 0.55:0.000, 0.6:0.100, 0.65:0.200, 0.7:0.243, 0.75:0.286, 0.8:0.329, 0.85:0.371, 0.9:0.414, 0.95:0.457, 1.0:0.500, 1.1:0.264, 1.5:0.025
side_force_slip_angle_mach_table = 0:0
side_force_delta_rudder_mach_table = 0:0
side_force_yaw_rate_mach_table = 0:0
side_force_roll_rate_mach_table = 0:0
pitch_moment_aoa_table = -3.15:0, -0.8:-1.712, -0.4:-0.834, -0.2:-0.849, -0.1:-0.536, 0:0, 0.20:0.956, 0.23:0.994, 0.26:1.056, 0.29:1.054, 0.31:1.024, 0.4:0.983, 0.8:1.838, 3.15:0
pitch_moment_delta_elevator_aoa_table = -180:-1, -40:0.202, -20:0.079, -14:0.690, -7:0.967, 0:1, 7:1.017, 14:0.905, 20:0.359, 40:0.186, 180:-1
pitch_moment_horizontal_incidence_aoa_table = 0:1
pitch_moment_daoa_aoa_table = 0:1
pitch_moment_pitch_alpha_table = 0:1
pitch_moment_delta_elevator_mach_table = 0:0
pitch_moment_daoa_mach_table = 0:0
pitch_moment_pitch_rate_mach_table = 0:0
pitch_moment_horizontal_incidence_mach_table = 0:0
pitch_moment_aoa_0_mach_table = 0:0
roll_moment_aoa_table = 0:0
roll_moment_slip_angle_aoa_table = 0:1
roll_moment_roll_rate_aoa_table = 0:1
roll_moment_delta_aileron_aoa_table = 0:1
roll_moment_slip_angle_mach_table = 0:0
roll_moment_delta_rudder_mach_table = 0:0
roll_moment_delta_aileron_mach_table = 0:0
roll_moment_yaw_rate_mach_table = 0:0
roll_moment_roll_rate_mach_table = 0:0
yaw_moment_aoa_table = 0:0
yaw_moment_slip_angle_aoa_table = 0:1
yaw_moment_yaw_rate_aoa_table = 0:1
yaw_moment_delta_rudder_aoa_table = 0:1
yaw_moment_slip_angle_mach_table = 0:0
yaw_moment_delta_rudder_mach_table = 0:0
yaw_moment_delta_aileron_mach_table = 0:0
yaw_moment_yaw_rate_mach_table = 0:0
yaw_moment_roll_rate_mach_table = 0:0
elevator_scaling_table = 0:1
aileron_scaling_table = 0:1
rudder_scaling_table = 0:1
aileron_load_factor_effectiveness_table = 0:1
lift_coef_at_drag_zero = 0.10000
lift_coef_at_drag_zero_flaps = 0.60000

[FLIGHT_TUNING]
cruise_lift_scalar = 1
parasite_drag_scalar = 1
induced_drag_scalar = 1
flap_induced_drag_scalar = 1
elevator_effectiveness = 1
elevator_maxangle_scalar = 0.9
aileron_effectiveness = 1
rudder_effectiveness = 1
rudder_maxangle_scalar = 0.5
pitch_stability = 0.25
roll_stability = 0.25
yaw_stability = 0.25
pitch_gyro_stability = 1
roll_gyro_stability = 1
yaw_gyro_stability = 1
elevator_trim_effectiveness = 1
aileron_trim_effectiveness = 1
rudder_trim_effectiveness = 1
hi_alpha_on_roll = 0
hi_alpha_on_yaw = 0
p_factor_on_yaw = 1
torque_on_roll = 1
gyro_precession_on_roll = 1
gyro_precession_on_yaw = 1
engine_wash_on_roll = 0.5 ; Torque effect
rudder_engine_wash_on_roll = 4.0 ; Torque effect
wingflex_scalar = 1
wingflex_offset = 0

[REFERENCE SPEEDS]
full_flaps_stall_speed = 65 ; Knots True (KTAS)
flaps_up_stall_speed = 83 ; Knots True (KTAS)
cruise_speed = 330 ; Knots True (KTAS)
max_mach = 0.6
max_indicated_speed = 266 ; Red line (KIAS)
max_flaps_extended = 122
normal_operating_speed = 266
airspeed_indicator_max = 320
rotation_speed_min = 80 ; Min speed required (Kts)
climb_speed = 115 ; Climb speed (Kts)
cruise_alt = 31000 ; (ft)
takeoff_speed = 90 ; Takeoff Speed (Kts)
spawn_cruise_altitude = 10000 ; Spawn Cruise Altitude (ft)
spawn_descent_altitude = 500 ; Spawn Descent Altitude (ft)
best_angle_climb_speed = 100 ; Best angle climb speed (Kts)
approach_speed = 85 ; Approach speed (Kts)
best_glide = 120 ; Best Glide (Kts)

[INTERACTIVE POINTS]
number_of_interactive_points=3
interactive_point.0=0.3, -14.4, -2.2, 0, 0, 25, 0, -90, 0, 0, 0, 0, 0, 0
interactive_point.1=0.3, -22, -2.1, 0, 0, 25, 0, -90, 0, 0, 0, 0, 0, 0
interactive_point.2=0.3, -11.2, -2.2, 0, 1, 25, 0, -90, 0, 0, 0, 0, 0, 0

;===================== FLAPS =====================

[FLAPS.0]
type = 1 ; Flap type 0 = None, 1 = trailing edge, 2 = leading edge
system_type = 0 ; Flap system type 0 = electrical, 1 = hydraulic, 2 = pneumatic, 3 = manual, 4 = none
span-outboard = 0.8 ; Outboard span area (added area) (percentage, non dimensional)
extending-time = 5.7 ; Flap extension time (SECONDS)
damaging-speed = 220 ; Speed above which flap is damaged (Kts)
blowout-speed = 270 ; Speed above which flap is blown out (Kts)
maneuvering_flaps = 0
lift_scalar = 1.64 ; Scalar coefficient to ponderate global flap lift coef (non dimensioned)
drag_scalar = 1.64 ; Scalar coefficient to ponderate global flap drag coef (non dimensioned)
pitch_scalar = 0 ; Scalar coefficient to ponderate global flap pitch coef (non dimensioned)
max_on_ground_position = 2 ; Dynamically set in-tool to last flap-position index by defaut when -1 is found.
flaps-position.0 = 0, -1, 0.25
flaps-position.1 = 10, 178, 0.25
flaps-position.2 = 34, 122, 1
